/* INICIO DE SECCION ADMIN */

.seccionAdmin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1-admin {
  margin-bottom: 4vh;
}

.h2-pedidos {
  margin-bottom: 4vh;
}

.seccionCliente{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .filtroBusquedaCliente{
    padding-right: 5px;
  }


#filtroClienteActivoBox {
  text-align: center;
  gap: 10vh;
}

#btnLimpiarFiltroCliente {
  margin-top: 1vh;
}

/* FIN DE SECCION ADMIN */





/* MOBILE ↓↓↓*/

@media screen and (max-width: 768px) {

.seccionCliente{
min-width: 90%
}


  /* Oculta el texto "Sesión iniciada como:" */
  .userInfo {
    font-size: 0;
  }

  /* Restaura solo el mail */
  .userInfo strong {
    font-size: 0.95rem;
    font-weight: 600;
  }


  .seccionAdmin {
    width: 100%;
  }

  .divFiltros {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  #filtroEstado {
    width: 100%;
    height: 40px;
    font-size: 0.9rem;
  }

  #busquedaCliente {
    width: 100%;
    font-size: 0.9rem;
    padding: 10px;
  }



  #sugerenciasClientes {
    width: 100%;
  }

  #contadorPedidos {
    text-align: center;
    font-size: rem;
  }

}

