/* INICIO DE GENERALES */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
  padding: 20px;
}

button {
  margin: 0 5px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}


input {
  padding: 3px;
}


#btnScrollTop {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff40;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  font-size: 20px;
  cursor: pointer;
  display: none;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#btnScrollTop:hover {
  background-color: #555555cb;
}


/* BOTÓN WHATSAPP FLOTANTE */
#btnWhatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 56px;
  height: 56px;

  background-color: #25D366;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
  box-shadow: 0 6px 14px rgba(0,0,0,0.25);

  text-decoration: none;
}

/* Imagen dentro del botón */
#btnWhatsapp img {
  width: 28px;
  height: 28px;
  display: block;
}

#btnWhatsapp,
#btnWhatsapp * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  td button {
    margin: 10px;
}


/* FIN DE GENERALES */





/* MOBILE ↓↓↓*/

@media screen and (max-width: 768px) {


  #btnWhatsapp {
  position: fixed;
  bottom: 60px;
  right: 20px;
  }

  body {
    padding: 10px;
    gap: 15px;
  }

  h1 {
    font-size: 1.4rem;
    text-align: center;
  }

  h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  h3 {
    font-size: 1rem;
    text-align: center;
  }

  button {
    padding: 10px;
    font-size: 1rem;
  }


  td,
  td *,
  button {
    box-sizing: border-box;
    max-width: 100%;
  }

  td {
    overflow: hidden;
  }

  td button {
    margin: 1vw auto;
    width: 90%;
}


}
