*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
  padding: 20px;
}

button {
  margin: 0 5px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

input {
  padding: 3px;
}





/* INICIO DE INICIO DE SESION */

.imgMedialunas{
  width: 10vw;
  margin-bottom: 5vh;
}

.primer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}



.btnLogout {
  position: absolute;
  right: 5%;
  top: 5%;
  color: white;
  background-color: red;
  padding: 8px;
  border-radius: 5px;
  font-weight: 600;
}

.userInfo {
position: absolute;
right: 70%;
top: 5%;
}


.h2-ingresar {
  margin-bottom: 2vh;
}


.authSection{
  flex-direction: column;
  gap: 2vh;
}

.authSection input, .authSection button{
  min-width: 300px;
  text-align: center;
  border-radius: 5px;
  padding: 8px;
}

.div-inputPass{
  position: relative;
  width: 300px;
}

.inputPass{
  width: 103%;
  padding-right: 40px;
}

.btnPass{
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  min-width: auto !important;
}


.btnLogin {
  background-color: gray;
  color: white;
}

.btnGoogle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 2.5vh 0;
}


.img-g {
  width: 1.2vw;
}

.btnRegister {
  border: none;
  font-weight: bold;
}

.btnResetPass {
  font-weight: bold;
  border: none;
  color: blue;
  background-color: white;
}

/* FIN DE INICIO DE SESION */





/* INICIO FORMULARIO */

.h1-pedido {
  margin-bottom: 5vh;
}

.h3-formulario {
  margin-top: 4vh;
}

.formularioCliente {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.formularioCliente input {
border-radius: 5px;
padding: 5px;
min-width: 30vw;
}

.btnEnviarPedido{
  max-width: 12vw;
  margin: 5vh 0 12vh 0;
  padding: 12px;
  background-color: rgba(0, 128, 0, 0.867);
  border: none;
  font-weight: bold;
  color: white;
  font-size: 1.2vw;
}


.producto {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 30vw;
}

.producto label {
  font-weight: bold;
  font-size: 0.9rem;
  color: #444;
}

.producto input {
  width: 100%;
}

#notas {
  min-width: 30vw;
  border-radius: 5px;
  padding: 5px;
  margin-top: 2vh;
}

.elegirFechaHora{
  min-width: 10vw!important;
  margin-top: 1vh;
}

/* FIN FORMULARIO */








/* INICIO DE SECCION ADMIN */

.seccionAdmin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.h1-admin {
  margin-bottom: 4vh;
}

.h2-pedidos {
  margin-bottom: 4vh;
}

.divFiltros {
  display: flex;
  gap: 5vw;
}

.filtroPorCLiente {
  display: flex;
  position: relative;
}

#sugerenciasClientes {
  top: 100%;
  margin-top: 4px;
}

#busquedaCliente {
  width: 180px;
}

#filtroEstado {
  width: 150px;
  height: 25px;
}

/* FIN DE SECCION ADMIN */

.seccionCliente{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* INICIO TABLA */

th {
  padding: 30px;
}

td {
  text-align: center;
  padding: 10px
}

.btnPDF {
  background-color: white;
  padding: 5px;
}


/* COLORES POR ESTADO DE PEDIDO */

.estado-pendiente {
  background-color: rgba(255, 255, 0, 0.553);
}

.estado-pendiente td {
  border: 3px solid gray;
}

.estado-entregado {
  background-color: #a5d6a7;
}

.estado-entregado td {
  border: 3px solid rgba(0, 128, 0, 0.694);
}

.estado-cancelado {
  background-color: rgb(253, 97, 97);
}

.estado-cancelado td {
  border: 3px solid red;
}



/* FIN TABLA */
