*,
*::before,
*::after {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




/* INICIO DE INICIO DE SESION */

.authSection{
  flex-direction: column;
  gap: 10px;
}

.authSection input, .authSection button{
  min-width: 300px;
  text-align: center;
}

.div-inputPass{
  display: flex;
  flex-direction: row;
}

.inputPass{
  min-width: 245px!important;
}

.btnPass{
  min-width: 45px!important;
}

/* FIN DE INICIO DE SESION */
